{
  "interface": {
    "name": "amnezia0",
    "private_key": "BASE64_PRIVATE_KEY_32_BYTES=",
    "listen_port": 51820,
    "address": "10.8.0.2/32",
    "mtu": 1420,
    "dns": "",
    "jc": 4,
    "jmin": 80,
    "jmax": 160,
    "s1": 30,
    "s2": 40,
    "s3": 50,
    "s4": 8,
    "h1": "200000000-280000000",
    "h2": "400000000-480000000",
    "h3": "600000000-680000000",
    "h4": "350000000-430000000",
    "i1": null,
    "i2": null,
    "i3": null,
    "i4": null,
    "i5": null
  },
  "peers": [
    {
      "name": "primary",
      "public_key": "BASE64_PEER_PUBLIC_KEY=",
      "preshared_key": "",
      "endpoint": "198.51.100.1:51820",
      "allowed_ips": "0.0.0.0/0, ::/0",
      "persistent_keepalive": 25,
      "server_peer": false
    }
  ]
}
